/*invalid card-type-visa*/

/*form.phtml*/
.sp-methods .form-list li{
  text-transform:uppercase !important;
}


#ss-banner {
  background:transparent url(../images/ss-shield@2x.png) no-repeat bottom left;
  background-size:395px 50px;
  height:50px;
}

#payment_form_hps_securesubmit li{
  border:1px solid #b1b1b1;
  padding:5px 20px;
}

#payment_form_hps_securesubmit li:hover,
#payment_form_hps_securesubmit li:focus {
  border:1px solid #3989e3;
}

#stored-cards li {
  padding:10px 20px;
}

#payment_form_hps_securesubmit input {
  border:1px solid #b1b1b1;
  border-radius:0px;
  height:30px;
  outline:none;
}

#payment_form_hps_securesubmit input:hover,
#payment_form_hps_securesubmit input:focus {
  border:1px solid #3989e3;
}

.cc-info {
  margin-left:20px;
  display:inline-block;
  border-left:1px solid #b1b1b1;
  padding-left:20px;
}

.cc-info:hover,
.cc-info:active {
  border-left:1px solid #3989e3;
}

.hps_securesubmit_stored_card_label input[type="radio"] {
  vertical-align:baseline;
  transform:none;
}

.cc {
  text-transform:none;
  font-weight: 600;
}

.exp {
  color:#b1b1b1;
  font-weight:400;
}

/*stored-cards-icons*/

#stored-cc-icon {
  width:77px;
  height:40px;
  background-size:cover;
  float:right;
}
.icon-mc-form,
.icon-mc {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-mc-form,
#payment_form_hps_securesubmit li:focus .icon-mc-form, {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-visa-form {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-visa-form,
#payment_form_hps_securesubmit li:focus .icon-visa-form {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-amex-form {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-amex-form,
#payment_form_hps_securesubmit li:focus .icon-amex-form {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-disc-form {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-dis-form,
#payment_form_hps_securesubmit li:focus .icon-disc-form {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-jcb-form {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-jcb-form,
#payment_form_hps_securesubmit li:focus .icon-jcb-form {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat top right;
  background-size:cover;
}

/*pay with a new card*/

.new-card {
  display:inline;
  margin-left:20px;
  vertical-align:super;
}

#hps_securesubmit_cc_form input {
  width:100%;
  height:40px;
}

#cc_number {
  width:100%;
}

#cc-number {
  padding:10px 0px;
}

#hps_securesubmit_cc_number {
  background:transparent url(../images/ss-inputcard-blank@2x.png) no-repeat right;
  background-size:50px 30px;
}

/*form card icons*/

#hps_securesubmit_cc_number .icon-discover {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat bottom right;
  background-size:70px 74px;
}
#hps_securesubmit_cc_number .icon-amex {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat bottom right;
  background-size:80px 80px;
}

#hps_securesubmit_cc_number .icon-jcb {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat bottom right;
  background-size:75px 70px;
}

#hps_securesubmit_cc_number .icon-visa {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat bottom right;
  background-size:70px 70px;
}

#hps_securesubmit_cc_number .icon-mastercard:active {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat bottom right;
  background-size:70px 73px;
}

/*confirmed state*/

#hps_securesubmit_cc_number .icon-discover:active {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat top right;
}

#hps_securesubmit_cc_number .icon-amex:active {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat top right;
}

#hps_securesubmit_cc_number .icon-jcb:active {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat top right;
}

#hps_securesubmit_cc_number .icon-visa:active {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat top right;
}

#hps_securesubmit_cc_number .icon-mastercard {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat top right;
}

#expiration-date {
  width: 48%;
  display:inline-block;
  padding:10px 0px;
}

#ccv {
  float:right;
  width:48%;
  padding:10px 0px;
}

#hps_securesubmit_cvv_number {
  background:transparent url(../images/cvv1.png) no-repeat right;
  background-size:50px 30px;
}

#hps_securesubmit_cc_form #hps_securesubmit_cc_save_future {
  width:4%;
  vertical-align: middle !important;
}

#hps_securesubmit_gift_card label {
  display:block
}

#hps_securesubmit_gift_card input {
  height:40px;
  margin:20px 0px;
}

#hps_securesubmit_giftcard_number {
  width:50%;
  display:inline-block;
}

#hps_securesubmit_giftcard_pin {
  width:48%;
  float:right;
}

/*storedcards.phtml*/

#hps-saved-cards li {
  border:1px solid #b1b1b1;
  margin:5px 0px;
  padding:10px 20px;
}

#hps-saved-cards li:hover {
  border:1px solid #3989e3;
}

.stored-card-info {
  display:inline-block;
  text-transform:uppercase !important;
  font-size:small;
  color:#8c8c8c;
}

.stored-card-info:hover {
  color:#797979;
}

/*storedcards icons*/

#stored-icon-styles {
  display:inline-block;
  width:70px;
  height:36px;
  background-size:cover;
  vertical-align:text-bottom;
}

.icon-visa-stored {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat bottom left;
}

.icon-mc-stored {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat bottom left;
}

.icon-disc-stored {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat bottom left;
}

.icon-amex-stored {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat bottom left;
}

.icon-jcb-stored {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat bottom left;
}

.icon-visa-stored:hover {
  background-position-y:inherit;
}

.icon-mc-stored:hover {
  background-position-y:inherit;
}

.icon-disc-stored:hover {
  background-position-y:inherit;
}

.icon-amex-stored:hover {
  background-position-y:inherit;
}

.icon-jcb-stored:hover {
  background-position-y:inherit;
}

#delete-icon {
  background:transparent url(../images/delete.png) no-repeat left;
  height:30px;
  width:22px;
  float:right;
  margin-top:4px;
  background-size:cover;
}

#delete-icon:hover {
  background:transparent url(../images/delete.png) no-repeat right;
  background-size:cover;

}

@media only screen and (max-width: 768px) {
  #ss-banner {
    background:transparent url(../images/ss-shield@1x.png) no-repeat bottom left;
    background-size: 249px 30px;
    height:30px;
  }

  #dd_method_hps_securesubmit label {
    font-size:small;
  }

  #dd_method_hps_securesubmit input {
    font-size:smaller;
  }

  #stored-cards li {
    padding:2px 10px;
  }

  .cc-info {
    margin-left:10px;
    border-left:none;
    padding-left:0px;
  }

  #stored-cc-icon {
    width:67px;
    height:37px;
  }

  .new-card {
    margin-left:10px;
  }

  .hps_securesubmit_stored_card_label input[type="radio"] {
    vertical-align:sub;
    transform:scale(1.4);
  }

#stored-cards label {
  width:100%;
}

  #payment_form_hps_securesubmit li {
    padding:7px 15px;
  }

  #expiration-date,
  #hps_securesubmit_exp_date,
  #ccv {
    width:100%;
    }

  #hps_securesubmit_cc_form #hps_securesubmit_cc_save_future {
    width:5%;
  }

  #ss-save-text {
    font-size:x-small;
  }

  #hps_securesubmit_gift_card input {
    width:100%;
    margin:10px 0px;
  }

  #hps-saved-cards li {
    padding:5px 5px;
  }

  #stored-icon-styles {
    width:60px;
  }
  .stored-card-info {
    font-size:smaller;
  }

  #delete-icon {
    height:25px;
    width:19px;
    margin-top:7px;
  }

}

@media only screen and (max-width: 479px) {

  #payment_form_hps_securesubmit  {
    width:100% !important;
  }
}
