/*form.phtml*/
.sp-methods .form-list li{
  text-transform:uppercase !important;
}

#ss-banner {
  background:transparent url(../images/ss-shield@2x.png) no-repeat bottom left;
  background-size:100%;
  height:50px;
}

.iwd_opc_payment_method_form #cc-number,
.iwd_opc_payment_method_form #expiration-date,
.iwd_opc_payment_method_form #ccv {
  width:100%;
}

#hps_securesubmit_cc_form label {
  text-transform:uppercase;
  float:left;
}

#payment_form_hps_securesubmit li{
  border:1px solid #b1b1b1;
  padding:5px 20px;
}

#payment_form_hps_securesubmit li:hover,
#payment_form_hps_securesubmit li:focus,
#payment_form_hps_securesubmit input:hover,
#payment_form_hps_securesubmit input:focus {
  border:1px solid #3989e3;
}

#stored-cards li {
  padding:10px 20px;
}

#stored-cards li.active {
  border:1px solid #3989e3;
}

.saved-card-selector {
  display:inline;
}

#payment_form_hps_securesubmit input {
  border:1px solid #b1b1b1;
  border-radius:0px;
  height:30px;
  outline:none;
}

.cc-info {
  margin-left:20px;
  display:inline-block;
  border-left:1px solid #b1b1b1;
  padding-left:20px;
}

#stored-cards li.active .cc-info,
#stored-cards li:hover .cc-info {
  border-left:1px solid #3989e3;
}

.hps_securesubmit_stored_card_label input[type="radio"] {
  vertical-align:baseline;
  transform:none;
}

.cc {
  text-transform:none;
  font-weight: 600;
}

.exp {
  color:#b1b1b1;
  font-weight:400;
}

/*stored-cards-icons*/

#stored-cc-icon {
  width:77px;
  height:40px;
  background-size:cover;
  float:right;
}
.icon-mastercard-form,
.icon-mc-form,
.icon-mc {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-mc-form,
#payment_form_hps_securesubmit li:hover .icon-mastercard-form,
#stored-cards li.active .icon-mc-form,
#stored-cards li.active .icon-mastercard-form {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-vi-form,
.icon-visa-form {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-visa-form,
#stored-cards li.active .icon-visa-form {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-amex-form {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-amex-form,
#stored-cards li.active .icon-amex-form {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-disc-form {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-disc-form,
#stored-cards li.active .icon-disc-form {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-jcb-form {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-jcb-form,
#stored-cards li.active .icon-jcb-form {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat top right;
  background-size:cover;
}

/*pay with a new card*/

.cc-option p{
  display:inline-block;
  margin-left:15px;
  vertical-align:top;
  margin-top:6px;
}

#hps_securesubmit_cc_form input {
  width:100%;
  height:40px;
}

#cc_number {
  width:100%;
  padding:10px 0px;
}

/*form card icons*/

#hps_securesubmit_cc_number {
  background:transparent url(../images/ss-inputcard-blank@2x.png) no-repeat right;
  background-size:50px 30px;
}

#hps_securesubmit_cc_number.invalid.card-type-visa {
    background:transparent url(../images/ss-saved-visa@2x.png) no-repeat bottom right;
    background-size:75px 75px;
  }
#hps_securesubmit_cc_number.valid.card-type-visa {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat top right;
  background-size:75px 76px;
  }

#hps_securesubmit_cc_number.invalid.card-type-discover {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat bottom right;
  background-size:70px 74px;
  }
#hps_securesubmit_cc_number.valid.card-type-discover {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat top right;
  background-size:70px 74px;
  }

#hps_securesubmit_cc_number.invalid.card-type-amex {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat bottom right;
  background-size:80px 80px;
  }
#hps_securesubmit_cc_number.valid.card-type-amex {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat top right;
  background-size:80px 80px;
  }

#hps_securesubmit_cc_number.invalid.card-type-jcb {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat bottom right;
  background-size:75px 75px;
  }
#hps_securesubmit_cc_number.valid.card-type-jcb {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat top right;
  background-size:75px 76px;
  }

#hps_securesubmit_cc_number.invalid.card-type-mastercard {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat bottom right;
  background-size:70px 75px;
  }
#hps_securesubmit_cc_number.valid.card-type-mastercard {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat top right;
  background-size:70px 76px;
  }

#expiration-date {
  width: 48%;
  display:inline-block;
  padding:10px 0px;
}

#ccv {
  float:right;
  width:48%;
  padding:10px 0px;
}

#hps_securesubmit_cvv_number {
  background:transparent url(../images/cvv1.png) no-repeat right;
  background-size:50px 30px;
}

#hps_securesubmit_cc_form #hps_securesubmit_cc_save_future {
  width:4%;
  vertical-align: middle !important;
  display:inline;
  float:left;
}

#ss-save-text {
  margin-top:12px;
}

#hps_securesubmit_gift_card label {
  display:block;
  margin:5px 0px;
}

#hps_securesubmit_gift_card input {
  height:40px;
  margin-bottom:20px;
}

#hps_securesubmit_giftcard_number {
  width:45%;
  display:inline-block;
}

#hps_securesubmit_giftcard_pin {
  width:45%;
  float:right;
}

#apply-gift-card.button {
  background-color:#3989e3 !important;
  color:#fff !important;
  text-decoration:none !important;
  display:table;
  padding:10px;
  text-align:center;
  width:20%;
  margin-bottom:10px;
}

/*storedcards.phtml*/

#hps-saved-cards li {
  border:1px solid #b1b1b1;
  margin:5px 0px;
  padding:10px 20px;
}

#hps-saved-cards li:hover {
  border:1px solid #3989e3;
}

.stored-card-info {
  display:inline-block;
  text-transform:uppercase !important;
  font-size:small;
  color:#8c8c8c;
}

#hps-saved-cards li:hover .stored-card-info {
  color:#797979;
}

#delete-icon {
  background:transparent url(../images/delete.png) no-repeat left;
  height:30px;
  width:22px;
  float:right;
  margin-top:4px;
  background-size:cover;
}

#hps-saved-cards li:hover #delete-icon {
  background:transparent url(../images/delete.png) no-repeat right;
  background-size:cover;

}


/*storedcards icons*/

#stored-icon-styles {
  display:inline-block;
  width:70px;
  height:36px;
  background-size:cover;
  vertical-align:text-bottom;
}

.icon-visa-stored,.icon-vi-stored {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat bottom left;
}

.icon-mc-stored,.icon-mastercard-stored {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat bottom left;
}

.icon-disc-stored {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat bottom left;
}

.icon-amex-stored {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat bottom left;
}

.icon-jcb-stored {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat bottom left;
}

#hps-saved-cards li:hover .icon-visa-stored {
  background-position-y:inherit;
}

#hps-saved-cards li:hover .icon-mc-stored,
#hps-saved-cards li:hover .icon-mastercard-stored {
  background-position-y:inherit;
}

#hps-saved-cards li:hover .icon-disc-stored {
  background-position-y:inherit;
}

#hps-saved-cards li:hover .icon-amex-stored {
  background-position-y:inherit;
}

#hps-saved-cards li:hover .icon-jcb-stored {
  background-position-y:inherit;
}


.securesubmit_amasty_one_page_checkout {
  width: 98%  !important;
  float: none  !important;
  height:5em  !important;
  display: block !important;
  padding:0px  !important;
  margin-right: 15px !important;
}

@media only screen and (max-width: 768px) {
  #ss-banner {
    background:transparent url(../images/ss-shield@1x.png) no-repeat bottom left;
    background-size: 249px 30px;
    height:30px;
  }

  #dd_method_hps_securesubmit label {
    font-size:small;
  }

  #dd_method_hps_securesubmit input {
    font-size:smaller;
  }

  #stored-cards li {
    padding:2px 10px;
  }

  .cc-info {
    margin-left:10px;
    border-left:none;
    padding-left:0px;
  }

  #stored-cc-icon {
    width:67px;
    height:37px;
  }

  .new-card {
    margin-left:10px;
  }

  .hps_securesubmit_stored_card_label input[type="radio"] {
    vertical-align:sub;
    transform:scale(1.4);
  }

#stored-cards label {
  width:100%;
}

  #payment_form_hps_securesubmit li {
    padding:7px 15px;
  }

  #expiration-date,
  #hps_securesubmit_exp_date,
  #ccv {
    width:100%;
    }

  #hps_securesubmit_cc_form #hps_securesubmit_cc_save_future {
    width:5%;
  }

  #ss-save-text {
    font-size:x-small;
  }

  #hps_securesubmit_gift_card input {
    width:100%;
    margin:10px 0px;
  }

  #hps-saved-cards li {
    padding:5px 5px;
  }

  #stored-icon-styles {
    width:60px;
  }
  .stored-card-info {
    font-size:smaller;
  }

  #delete-icon {
    height:25px;
    width:19px;
    margin-top:7px;
  }

}

@media only screen and (max-width: 479px) {

  #payment_form_hps_securesubmit  {
    width:100% !important;
  }
}
