/*form.phtml*/
.form-list > li {
  margin:3px 0 6px 0 !important;
}
.sp-methods .form-list li{
  text-transform:uppercase !important;
}

#ss-banner {
  background:transparent url(../images/ss-shield@2x.png) no-repeat bottom left;
  background-size:100%;
  height:50px;
}

.iwd_opc_payment_method_form #cc-number,
.iwd_opc_payment_method_form #expiration-date,
.iwd_opc_payment_method_form #ccv,
.iwd_opc_payment_method_form #hps_securesubmit_giftcard_number,
.iwd_opc_payment_method_form #hps_securesubmit_giftcard_pin {
  width:100%;
  color:#000000;
}

#hps_securesubmit_cc_form label,
#hps_securesubmit_gift_card label,
#dd_method_hps_securesubmit label,
#stored-cards label,
#payment_form_hps_securesubmit label {
  text-transform:uppercase !important;
  font-size:13px;
  margin:3px 0px;
  font-size:small;
}

.iwd-opc-index-index .validation-advice,
.checkout-onepage-index .validation-advice{
  text-align:left;
  margin-top:-20px;
}

.invalid,
.validation-failed {
  border:1px solid #ce1025 !important;
}

label.required:after, span.required:after {
  font-weight:600 !important;
}

#expiration-date label,
#cc-number label,
#ccv label,
.save-card-checkbox label {
  float:left;
}

.save-card-checkbox {
  height:30px;
}

#payment_form_hps_securesubmit li,
.hps_securesubmit_stored_card_label {
  border:1px solid #b1b1b1;
  padding:6px 8px;
  list-style:none;
}

.hps_securesubmit_stored_card_label li {
  border:0px solid transparent !important;
  padding:0px 0px !important;
}

li>label.hps_securesubmit_stored_card_label,
#new-card-section label:hover,
#hps_securesubmit_gift_card label  {
  border:0px solid transparent !important;
}

#payment_form_hps_securesubmit li:hover,
#payment_form_hps_securesubmit li:focus,
#payment_form_hps_securesubmit input:hover,
#payment_form_hps_securesubmit input:focus,
#payment_form_hps_securesubmit label:hover,
#payment_form_hps_securesubmit label:focus{
  border:1px solid #3989e3;
}

.hps_securesubmit_stored_card_label li:hover,
.hps_securesubmit_stored_card_label li:focus {
  border:0px solid transparent !important;
}

.saved-card-selector {
  display:inline;
  float:left;
}

#payment_form_hps_securesubmit input {
  border:1px solid #b1b1b1;
  border-radius:0px;
  height:33px;
  outline:none;
}

#hps_securesubmit_cc_number_iframe {
  -webkit-display:-webkit-inline-box;
  display:inline-block;
}

.cc-info {
  margin-left:10px;
  vertical-align: bottom;
  display:inline-block;
  text-transform:uppercase !important;
  float:left;
}

.hps_securesubmit_stored_card_label {
  width:100%;
  vertical-align: -webkit-baseline-middle;
  vertical-align:-moz-middle-with-baseline;
  vertical-align: middle;
}

.hps_securesubmit_stored_card_label input[type="radio"] {
  vertical-align:baseline;
  transform:none;
}

.cc {
  font-weight: 600;
}

#heartland-frame-cardExpiration,
#heartland-frame-cardNumber,
#heartland-frame-cardCvv {
  height:50px !important;
  width:100%;
}

.exp {
  color:#b1b1b1;
  font-weight:400;
  float:left;
  font-size:12px;
}

/*stored-cards-icons*/

#stored-cc-icon {
  width:77px;
  height:35px;
  background-size:cover;
  float:right;
}
.icon-mastercard-form,
.icon-mc-form,
.icon-mc {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat center right;
  display:inline-block;
  width:70px !important;
  background-position:10px -37px;
}
#payment_form_hps_securesubmit label:hover .icon-mastercard-form,
#payment_form_hps_securesubmit label:focus .icon-mastercard-form,
label.active .icon-mastercard-form {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat center right;
  display:inline-block;
  background-size:cover;
  background-position:10px -1px;
}
.icon-vi-form,
.icon-visa-form {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat center right;
  background-position:10px -40px;
  width:75px !important;
}
#payment_form_hps_securesubmit label:hover .icon-visa-form,
#payment_form_hps_securesubmit label:focus .icon-visa-form ,
label.active .icon-visa-form{
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat center right;
  background-size:cover;
  background-position:10px -1px;
}
.icon-amex-form {
  background:transparent url(../images/ss-input-amex@2x.png) no-repeat center right;
  width:50px !important;
}
#payment_form_hps_securesubmit label:hover .icon-amex-form,
#payment_form_hps_securesubmit label:focus .icon-amex-form,
label.active .icon-amex-form {
  background:transparent url(../images/ss-inputcard-amex@2x.png) no-repeat center right;
  background-size:cover;
}
.icon-discover-form {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat center right;
  background-position:10px -36px;
}
 .checkout-onepage-index .icon-discover-form,
 .iwd-opc-index-index .icon-discover-form {
   background-position:10px -41px;
 }

input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {
  width:335px;
}
#payment_form_hps_securesubmit label:hover .icon-discover-form,
#payment_form_hps_securesubmit label:focus .icon-discover-form,
label.active .icon-discover-form {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat center right;
  background-size:cover;
  background-position:10px -1px;
}
.icon-jcb-form {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat center right;
  width:70px !important;
  background-position:10px -38px;
}
#payment_form_hps_securesubmit label:hover .icon-jcb-form,
#payment_form_hps_securesubmit label:focus .icon-jcb-form,
label.active .icon-jcb-form {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat center right;
  background-size:cover;
  background-position:10px -1px;
}

/*pay with a new card*/
.cc-option {
  float:left;
}

.cc-option p{
  display:inline-block;
  margin-left:15px;
  vertical-align:top;
  margin-top:6px;
}

#cc_number {
  width:100%;
  padding:10px 0px;
}

#hps_securesubmit_cc_form #hps_securesubmit_cc_save_future {
  vertical-align: middle !important;
  display:inline;
  float:left;
}

#ss-save-text {
  margin-top:12px;
}

#hps_securesubmit_gift_card input,
#payment_form_hps_securesubmit .input-text { 
  height:40px;
  margin-bottom:20px;
  line-height:2.5px;
  font-size:11px;
  letter-spacing:2.5px;
}
#apply-gift-card.button {
  background-color:#3989e3 !important;
  color:#fff !important;
  padding:10px;
  margin-bottom:10px;
}

/*storedcards.phtml*/

#hps-saved-cards li {
  border:1px solid #b1b1b1;
  margin:5px 0px;
  padding:10px 20px;
}

#hps-saved-cards li:hover {
  border:1px solid #3989e3;
}

.stored-card-info {
  display:inline-block;
  text-transform:uppercase !important;
  font-size:small;
  color:#8c8c8c;
}

#hps-saved-cards li:hover .stored-card-info {
  color:#797979;
}

#delete-icon {
  background:transparent url(../images/delete.png) no-repeat left;
  height:30px;
  width:22px;
  float:right;
  margin-top:4px;
  background-size:cover;
}

#hps-saved-cards li:hover #delete-icon {
  background:transparent url(../images/delete.png) no-repeat right;
  background-size:cover;

}


/*storedcards icons*/

#stored-icon-styles {
  display:inline-block;
  width:70px;
  height:36px;
  background-size:cover;
  vertical-align:text-bottom;
}

.icon-visa-stored,.icon-vi-stored {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat bottom left;
}

.icon-mc-stored,.icon-mastercard-stored {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat bottom left;
}

.icon-disc-stored {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat bottom left;
}

.icon-amex-stored {
  background:transparent url(../images/ss-input-amex@2x.png) no-repeat bottom left;
}

.icon-jcb-stored {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat bottom left;
}

#hps-saved-cards li:hover .icon-visa-stored {
  background-position-y:inherit;
}

#hps-saved-cards li:hover .icon-mc-stored,
#hps-saved-cards li:hover .icon-mastercard-stored {
  background-position-y:inherit;
}

#hps-saved-cards li:hover .icon-disc-stored {
  background-position-y:inherit;
}

#hps-saved-cards li:hover .icon-amex-stored {
  background-position-y:inherit;
}

#hps-saved-cards li:hover .icon-jcb-stored {
  background-position-y:inherit;
}


.securesubmit_amasty_one_page_checkout {
  width: 98%  !important;
  float: none  !important;
  height:5em  !important;
  display: block !important;
  padding:0px  !important;
  margin-right: 15px !important;
}

@media only screen and (max-width: 768px) {
  #ss-banner {
    background:transparent url(../images/ss-shield@1x.png) no-repeat bottom left;
    background-size: 100%;
    height:40px;
  }

  #dd_method_hps_securesubmit input {
    font-size:smaller;
  }

  #stored-cards li {
    padding:2px 8px;
  }

  .cc-info {
    border-left:none;
    padding-left:0px;
    float:left;
  }

  #stored-cc-icon {
    width:67px;
    height:35px;
  }

  .new-card {
    margin-left:10px;
  }

  .hps_securesubmit_stored_card_label input[type="radio"] {
    vertical-align:-webkit-baseline-middle;
    vertical-align: baseline;
  }

  #cc-number,
  #expiration-date,
  #ccv {
    padding:0px !important;
    width:100%;
    }

  #hps_securesubmit_cc_form #hps_securesubmit_cc_save_future {
    width:5%;
  }

  #ss-save-text {
    font-size:x-small;
  }

  #hps_securesubmit_gift_card input {
    width:100%;
    margin:10px 0px;
  }

  #hps-saved-cards li {
    padding:5px 5px;
  }

  #stored-icon-styles {
    width:60px;
  }
  .stored-card-info {
    font-size:smaller;
  }

  #delete-icon {
    height:25px;
    width:19px;
    margin-top:7px;
  }

}

@media only screen and (max-width: 479px) {

  #payment_form_hps_securesubmit  {
    width:100% !important;
  }
}

/* Regular Checkout with IFrame */

body.checkout-onepage-index #expiration-date {
  width:100%;
}
body.checkout-onepage-index #ccv {
  width:100%;
  display:block;
}
body.checkout-onepage-index .sp-methods .form-list{
  padding-left:0px;
}
body.checkout-onepage-index #ss-banner {
  background-size:90%;
  height:50px;
}
body.checkout-onepage-index #hps_securesubmit_cc_number_iframe>div {
  display:inline-block !important;
}
body.checkout-onepage-index #ss-save-text {
  margin:5px 0;
}
body.checkout-onepage-index #new-card-section label,
body.checkout-onepage-index #hps_securesubmit_gift_card label,
label#ss-save-text:hover {
  border:0px solid transparent;
}
label.active {
  border:1px solid #3989e3;
}
@media only screen and (min-width: 767px) {
body.checkout-onepage-index #expiration-date {
  width:50%;
  float:left;
}
body.checkout-onepage-index #ccv {
  width:50%;
  display:inline-block;
}
body.checkout-onepage-index #ss-banner {
  background-size:50%;
  height:50px;
}
}

/* Regular Checkout Without IFrame */

.checkout-onepage-index.opc-has-progressed-from-login #hps_securesubmit_cc_form input {
  height:45px;
  width:100%;
}
.checkout-onepage-index.opc-has-progressed-from-login #hps_securesubmit_cc_form #expiration-date input {
  width:99%;
}
.checkout-onepage-index #hps_securesubmit_cc_number {
  width:100%
}
.checkout-onepage-index #expiration-date input,
.checkout-onepage-index #cvv {
  width:100%;
}
#payment_form_hps_securesubmit .input-text {
  height:45px;
}
@media only screen and (min-width: 767px) {
  .checkout-onepage-index #expiration-date input {
    width:99%;
  }
}
#cc-number input {
background:transparent url(../images/ss-inputcard-blank@2x.png) no-repeat right;
background-size:50px 30px;
}
#cc-number input.card-type-visa {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat center right;
  background-size:75px 84px;
  background-position-y: 1px;
}
#cc-number input.invalid.card-type-visa {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat center right;
  background-size:75px 84px;
  background-position-y:-41px;
}
#cc-number input.invalid.card-type-discover {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat right;
  background-size:70px 74px;
  background-position-y:-35px;
}
#cc-number input.valid.card-type-discover {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat right;
  background-size:70px 74px;
  background-position-y:2px;
}
#cc-number input.invalid.card-type-amex {
  background:transparent url(../images/ss-input-amex@2x.png) no-repeat center right;
  background-size:50px 55px;
}
#cc-number input.valid.card-type-amex {
  background:transparent url(../images/ss-inputcard-amex@2x.png) no-repeat center right;
  background-size:50px 55px;
}
#cc-number input.invalid.card-type-jcb {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat right;
  background-size:75px 75px;
  background-position-y:-35px;
}
#cc-number input.valid.card-type-jcb {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat right;
  background-size:75px 76px;
  background-position-y:2px;
}
#cc-number input.invalid.card-type-mastercard {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat center right;
  background-size:75px;
  background-position-y:-37px;
}
#cc-number input.valid.card-type-mastercard {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat center right;
  background-size:75px;
  background-position-y:2px;
}                    
#ccv input#hps_securesubmit_cvv_number {
  background:transparent url(../images/cvv1.png) no-repeat right;
  background-size:50px 30px;
}