/*form.phtml*/

#ss-banner {
  background:transparent url(../images/ss-shield@2x.png) no-repeat bottom left;
  background-size:395px 50px;
  height:50px;
}

#payment_form_hps_securesubmit li{
  border:1px solid #b1b1b1;
  padding:5px 20px;
}

#payment_form_hps_securesubmit li:hover {
  border:1px solid #3989e3;
}

#stored-cards li {
  padding:10px 25px;
}

#payment_form_hps_securesubmit input {
  border:1px solid #b1b1b1;
  border-radius:0px;
  height:30px;
  outline:none;
}

#payment_form_hps_securesubmit input:hover,
#payment_form_hps_securesubmit input:focus {
  border:1px solid #3989e3;
}

.cc-info {
  margin-left:20px;
  display:inline-block;
}

.hps_securesubmit_stored_card_label input[type="radio"] {
  vertical-align:inherit;
}

.cc-option input[type="radio"] {
  vertical-align:bottom;
}

/*stored-cards-icons*/

#stored-cc-icon {
  width:77px;
  height:40px;
  background-size:cover;
  float:right;
}
.icon-mc-form,
.icon-mc {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-mc-form,
#payment_form_hps_securesubmit li:focus .icon-mc-form, {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-visa-form {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-visa-form,
#payment_form_hps_securesubmit li:focus .icon-visa-form {
  background:transparent url(../images/ss-saved-visa@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-amex-form {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-amex-form,
#payment_form_hps_securesubmit li:focus .icon-amex-form {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-discover-form {
  background:transparent url(../images/ss-saved-disover@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-discover-form,
#payment_form_hps_securesubmit li:focus .icon-discover-form {
  background:transparent url(../images/ss-saved-discover@2x.png) no-repeat top right;
  background-size:cover;
}
.icon-jcb-form {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat bottom right;
}
#payment_form_hps_securesubmit li:hover .icon-jcb-form,
#payment_form_hps_securesubmit li:focus .icon-jcb-form {
  background:transparent url(../images/ss-saved-jcb@2x.png) no-repeat top right;
  background-size:cover;
}

/*pay with a new card*/

.new-card {
  display:inline;
  margin-left:20px;
  vertical-align:super;
}

#hps_securesubmit_cc_form input {
  width:100%;
  height:40px;
}

#cc_number {
  width:100%;
}

#hps_securesubmit_cc_number {
  background:transparent url(../images/ss-inputcard-blank@2x.png) no-repeat right;
  background-size:50px 30px;
}

/*form card icons*/

#hps_securesubmit_cc_number .icon-discover {
  background:transparent url(../images/ss-inputcard-discover@2x.png) no-repeat right;
  background-size:70px 30px;
}
#hps_securesubmit_cc_number .icon-amex {
  background:transparent url(../images/ss-saved-amex@2x.png) no-repeat right;
  background-size:40px 30px;
}

#hps_securesubmit_cc_number .icon-jcb {
  background:transparent url(../images/ss-inputcard-jcb@2x.png) no-repeat right;
  background-size:50px 30px;
}

#hps_securesubmit_cc_number .icon-visa {
  background:transparent url(../images/ss-inputcard-visa@2x.png) no-repeat right;
  background-size:60px 30px;
}

#hps_securesubmit_cc_number .icon-mastercard {
  background:transparent url(../images/ss-inputcard-mastercard@2x.png) no-repeat right;
  background-size:50px 30px;
}

#expiration-date {
  width: 48%;
  display:inline-block;
}

#ccv {
  float:right;
  width:48%;
}

#hps_securesubmit_cvv_number {
  background:transparent url(../images/cvv1.png) no-repeat right;
  background-size:50px 30px;
}

#hps_securesubmit_cc_form #hps_securesubmit_cc_save_future {
  width:4%;
}

#hps_securesubmit_gift_card label {
  display:block
}

#hps_securesubmit_gift_card input {
  height:40px;
  margin-bottom:10px;
}

#hps_securesubmit_giftcard_number {
  width:50%;
  display:inline-block;
}

#hps_securesubmit_giftcard_pin {
  width:48%;
  float:right;
}

/*storedcards.phtml*/

#hps-saved-cards li {
  border:1px solid #b1b1b1;
  background:transparent url(../images/delete.png) no-repeat right;
  background-size:30px 30px;
  margin:5px 0px;
  padding:2px 5px;
}

#hps-saved-cards li:hover {
  border:1px solid #3989e3;
}

.stored-card-info {
  display:inline-block;
}

/*storedcards icons*/
.icon-mc {
  background:transparent url(../images/ss-saved-mastercard@2x.png) no-repeat top left;
  display:inline-block;
  width:60px;
  height:25px;
  background-size:60px 55px;
  background-size:cover;
}

.icon-disc {

}
@media only screen and (max-width: 768px) {
  #ss-banner {
    background:transparent url(../images/ss-shield@1x.png) no-repeat bottom left;
    background-size: 265px 33px;
    height:33px;
  }

  #stored-cards li {
    padding:5px 20px;
  }

  #expiration-date,
  #hps_securesubmit_exp_date,
  #ccv {
    width:100%;
  }

  #hps_securesubmit_gift_card input {
    width:100%;
  }


}
