<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hps_Securesubmit>
            <version>1.0.1</version>
        </Hps_Securesubmit>
    </modules>
    <global>
        <resources>
            <hps_securesubmit_setup>
                <setup>
                    <module>Hps_Securesubmit</module>
                    <class>Hps_Securesubmit_Model_Resource_Setup</class>
                </setup>
            </hps_securesubmit_setup>
        </resources>
        <models>
            <hps_securesubmit>
                <class>Hps_Securesubmit_Model</class>
                <resourceModel>hps_securesubmit_resource</resourceModel>
            </hps_securesubmit>
            <hps_securesubmit_resource>
                <class>Hps_Securesubmit_Model_Resource</class>
                <entities>
                    <storedcard>
                        <table>storedcard</table>
                    </storedcard>
                </entities>
            </hps_securesubmit_resource>
        </models>
        <helpers>
            <hps_securesubmit>
                <class>Hps_Securesubmit_Helper</class>
            </hps_securesubmit>
        </helpers>
        <blocks>
            <hps_securesubmit>
                <class>Hps_Securesubmit_Block</class>
            </hps_securesubmit>
        </blocks>
        <fieldsets>
            <sales_convert_quote_payment>
                <securesubmit_use_stored_card>
                    <to_order_payment>*</to_order_payment>
                </securesubmit_use_stored_card>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <default>
        <payment>
            <hps_securesubmit>
                <model>hps_securesubmit/payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Credit Card (SecureSubmit)</title>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <useccv>1</useccv>
                <min_order_total>0.50</min_order_total>
                <secretapikey backend_model="adminhtml/system_config_backend_encrypted" />
                <publicapikey backend_model="adminhtml/system_config_backend_encrypted" />
                <use_http_proxy>0</use_http_proxy>
                <debug>0</debug>
            </hps_securesubmit>
        </payment>
    </default>
    <frontend>
        <secure_url>
            <securesubmit>/securesubmit/</securesubmit>
        </secure_url>
        <layout>
            <updates>
                <hps_securesubmit module="Hps_Securesubmit">
                    <file>securesubmit.xml</file>
                </hps_securesubmit>
            </updates>
        </layout>
        <routers>
            <hps_securesubmit>
                <use>standard</use>
                <args>
                    <module>Hps_Securesubmit</module>
                    <frontName>securesubmit</frontName>
                </args>
            </hps_securesubmit>
        </routers>
    </frontend>
    <adminhtml>
        <secure_url>
            <securesubmit>/securesubmit/</securesubmit>
        </secure_url>
        <layout>
            <updates>
                <hps_securesubmit module="Hps_Securesubmit">
                    <file>securesubmit.xml</file>
                </hps_securesubmit>
            </updates>
        </layout>
        <routers>
            <hps_securesubmit>
                <use>standard</use>
                <args>
                    <module>Hps_Securesubmit</module>
                    <frontName>securesubmit</frontName>
                </args>
            </hps_securesubmit>
        </routers>
    </adminhtml>
</config>
