<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hps_SecureSubmit>
            <version>1.0.0</version>
        </Hps_SecureSubmit>
    </modules>
    <global>
        <resources>
            <hps_securesubmit>
                <setup>
                    <module>Hps_SecureSubmit</module>
                </setup>
            </hps_securesubmit>
        </resources>
        <models>
            <hps_securesubmit>
                <class>Hps_SecureSubmit_Model</class>
            </hps_securesubmit>
        </models>
        <helpers>
            <hps_securesubmit>
                <class>Hps_SecureSubmit_Helper</class>
            </hps_securesubmit>
        </helpers>
        <blocks>
            <hps_securesubmit>
                <class>Hps_SecureSubmit_Block</class>
            </hps_securesubmit>
        </blocks>
    </global>
    <default>
        <payment>
            <hps_securesubmit>
                <model>hps_securesubmit/payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Credit Card (SecureSubmit)</title>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <useccv>1</useccv>
                <min_order_total>0.50</min_order_total>
                <secretapikey backend_model="adminhtml/system_config_backend_encrypted" />
                <publicapikey backend_model="adminhtml/system_config_backend_encrypted" />
            </hps_securesubmit>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <hps_securesubmit>
                    <file>securesubmit.xml</file>
                </hps_securesubmit>
            </updates>
        </layout>
        <routers>
            <hps_securesubmit>
                <use>standard</use>
                <args>
                    <module>Hps_SecureSubmit</module>
                    <frontName>securesubmit</frontName>
                </args>
            </hps_securesubmit>
        </routers>
    </frontend>
</config>
